@model IEnumerable<WebApplication2.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h2>Authors</h2>


@if (!Model.Any())
{
    <p>No profiles found.</p>
}
else
{
    @foreach (var author in Model)
    {
        <div class="media box" id="post">
            @if (!string.IsNullOrEmpty(author.Avatar))
            {
                <img src="@author.Avatar" alt="Image" style="max-width:100px;max-height:100px;" />
            }
            <span class="mini-media-rows">
                <span class="pl-2 pr-2">@author.Title</span>
                <span class="pl-2 pr-2">@author.Joined.ToString("yyyy-MM-dd")</span>
            </span>
            <div class="media-body" style="width: 87%;">
                <h4 class="mt-0 soc-post-title">
                    <a asp-controller="Author" asp-action="Details" asp-route-id="@author.Id">@author.Name</a>
                </h4>

                <p class="text-muted has-text-grey">@author.Bio</p>
                <div class="d-flex justify-content-around prevent-overflow">
                    @* @foreach (var st in @author.Stories)
                    {
                        <span class="badge rounded-pill text-bg-dark tag is-warning">@st.Title</span>
                    } *@
                </div>
            </div>
        </div>
    }
}
